<% @doctors.each do |doctor| %>
  <ul>
    <li>
      Name: <%= doctor.name %>
    </li>
  </ul>



<% end %>

<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>